<div class="breadcrumb">
    <a href="#">Gerador</a> » <a href="#">Administração</a> » <a href="#">Banners</a>
</div>
<form>
    <p>
        <input type="button" value="Criar Banner" class="submit" title="Criar novo Settings" onclick="location.href='/admin/banners/new'; return false;">
    </p>    

<h2>Banners</h2>
    <table width="100%" cellspacing="0" cellpadding="0" class="sortable">
        <thead>
            <tr>
                <th class="header" style="cursor: pointer;">Small</th>
                <th class="header" style="cursor: pointer;">Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
<% @banners.each do |bn| %>
  <tr>
    <td width="10" ><%= image_tag bn.banner.url(:small), :style => "border:2px solid #999" %></td>
    <td width="450"><%= bn.nome %></td>
    <td width="10"><%= link_to image_tag("admin/edit.png"), edit_admin_banner_path(bn) %></td>
    <td width="10"><%= link_to image_tag("admin/close.png"), [:admin, bn], :method => :delete, :confirm => 'Esta seguro disso?' %></td>

  </tr>
<% end %>
        </tbody>

</table>
</form>


