<div id="page-wrap">
	<div id="quem_somos">
		<a name="quem_somos"></a>
		<p>Quen Somos</p>
	</div>

	<div id="projetos_obras">
		<a name="projetos_obras"></a> 
		<p>Projetos Obras</p>
	</div> 
	
	<div id="tecnologias">
		<a name="tecnologias"></a> 
		<p>Tecnologias</p>
	</div>

	<div id="contatos">
		<a name="contatos"></a> 
		<p>Contatos</p>
	</div>

</div>
